* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    
}

.trivia-container {
    display: flex;
    border: 5px solid black;
    width: 80%;
    height: 90vh;
    flex-direction: column;
    justify-content: center;
    margin: 3% 0 3% 0;
}

h1, h2, .question, .answers, header{
   align-self: center;
   padding: 3%;
   text-align: center;
   width: 100%;
}


.timer{
   /* align-self: flex-right; */
   padding: 3%;
   text-align: center;
   width: 100%;
}

.image {
    width: 20%;
    height: auto;
}

#listContainer {
    list-style: none;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.answers {
    display: flex;
    flex-direction: column;
    height: 50%
    
}

.answers li {
    background-color: aliceblue;
    width: 50%;
    height: 20%;
    margin: 1%;
    align-self: center;
}

.answers li button{
    background-color:blueviolet;
    width: 90%;
    height: 90%;
    border: 2px solid blue;

}